@import "config";
@import "responsive";


body {
  font-size: 15px;
  background-color: $veryLightGray;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.wrapper {
  display: flex;
}

.card {
  padding: 3rem;
}

.sedan {
  background-color: $brightOrange;
}

.suv {
  background-color: $darkCyan;
}

.luxury {
  background-color: $veryDarkCyan;
}

h1 {
  color: $veryLightGray;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
}

p {
  color: $transparentWhite;
  line-height: 1.5rem;
}


.card-btn {
  padding: .8rem 1.8rem;
  border: 2px solid $veryLightGray;
  border-radius: 50px;
  font-size: .8rem;
  font-weight: 700;
}

.sedan-btn {
  color: $brightOrange;
  
  &:hover {
    background-color: $brightOrange;
    color: $veryLightGray;
    cursor: pointer;
  }
}

.suv-btn {
  color: $darkCyan;

  &:hover {
    background-color: $darkCyan;
    color: $veryLightGray;
    cursor: pointer;
  }
}

.luxury-btn {
  color: $veryDarkCyan;

  &:hover {
    background-color: $veryDarkCyan;
    color: $veryLightGray;
    cursor: pointer;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}